/* ======== BODY CONTENT ========= */

ion-content, #icontent{
    height: calc(100% - 47px);   
    top: 0;
}

#contentBody{
    height: 100%;
}

#contentWrapper{
    padding: 5px 8px;
    background-color: #fff;
}

/* ======== HEADER ========= */
.iTitle{
    text-align: center;
    font-family: "Arial","Papyrus","Lucida Handwriting","Brush Script MT" ;
    font-size: 17px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 7px;
    text-decoration: none;
    letter-spacing: 0.4px;
}
.headerWrapper{
    border-bottom: 1px solid #eee ;
    opacity: 1;
    display: block;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 3px;
}

/* ======== FOOTER TABS ========= */
#ifooter{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 47px;
}

ion-tabs ion-tab-bar{
    border: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px; 
    background-color: #180f34;
}

ion-tabs ion-icon {
    font-size: 1.6rem;
}

ion-tabs ion-tab-button{
    background-color: #180f34;
}

ion-tabs .tab-selected{
    color: rgb(240, 245, 215);
    background-color: #211545;
}
/* ======== SINGLE MAIN ========= */
.tab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: calc(100vh * 0.8) ;
    background-color: #fbfbfb;
    height: calc(100% - 70px);
}
.main-footer{
    width: 100%;
    display: flex;
    max-height: 70px;
    min-height: 70px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(9, 3, 31);
}
.wrapperButton{
    width: 20%;
}
.wrapperButton > .aButton{
    display: block;
    margin: 0 auto;
    height: 70px;
    width: 70px;
    text-align: center;
    background-color: rgb(35, 136, 194);
    font-size: 50px;
    color: white;
    border: 5px solid rgb(10, 39, 94); 
    border-radius: 50%;   
}
.wrapperButton > .aButton:hover{
    background-color: rgb(7, 76, 116);
}
#iIcon{
    padding-top: 5px;
}
.drop-area{
    display: flex;
    width: 100%;
    border: 5px dashed rgb(23, 90, 129);
    height: 70px;
}

.tab-container > .dletter {
    background-color: #B9D980;
    margin: 3px;
    width: 120px;
    height: 55px;
    padding: 15px 0;
    text-align: center;
    font-weight: 600px;
    font-size: 35px;
    cursor: pointer;
    border: 1px solid #eee;
    background-image: linear-gradient(-180deg, rgb(224, 222, 247) 1%, #ffffff 100%);
    box-shadow: 0 0px 0px 0 #fafafa, 
                0 -1px 2px #9493b3 inset, 
                0 1px 1px #948eca inset, 
                0 1px 1px 0 #b2b3d4 inset;
}
.drop-area > .dletter{
    width: fit-content;
    color: white;
    margin: 7px 3px;
    padding: 15px 5px;
    font-size: 18px;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 3px;
    border: 1px solid rgb(9, 3, 31);
    background-image: linear-gradient(-180deg, rgb(14, 1, 58) 1%, #120744 100%);
    box-shadow: 0 0px 0px 0 #fafafa, 
                0 -1px 2px #2721e0 inset, 
                0 1px 1px #4330f0 inset, 
                0 1px 1px 0 #b2b3d4 inset;
    
}
/* .dletter > .deleteSpan{
    top: 0;
    right: 0;
} */
/* ======== TAB 1: GRID  ========= */
/* .tab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.tab-container > .dletter {
    background-color: #B9D980;
    margin: 5px;
    width: 120px;
    height: 55px;
    padding: 15px 0;
    text-align: center;
    font-weight: 600px;
    font-size: 35px;

    cursor: pointer;
    border: 1px solid #eee;
    background-image: linear-gradient(-180deg, rgb(224, 222, 247) 1%, #ffffff 100%);
    box-shadow: 0 0px 0px 0 #fafafa, 
                0 -1px 2px #9493b3 inset, 
                0 1px 1px #948eca inset, 
                0 1px 1px 0 #b2b3d4 inset;
} */

/* ======== TAB 2: WORDS ========= */
/* .searchWrapper{
    background-color: #fbfbfb;
    padding: 5px 15px;
}

.tab-container > .dword{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 170px;
    height: 100px;
    padding-top: 10px;
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid #fefefe;
    box-shadow: 0 0 3px;
}

.dword > img{
    height: 80px;
    cursor: pointer;
}

.dword > span{
    margin-top: 35px;
    margin-bottom: 25px;
    width: 90px;
    cursor: pointer;
    font-family: arial;
    font-weight: 550;
    font-size: 12px;
    text-align: center;
}
#empty{
    visibility: hidden;
} */

/* ======== TRANSLATE ========= */
/* LANG */
.langWrapper, .iconLang{
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 20px;
    color: #180f34;
    justify-content: center;
    padding: 10px;
}
.langWrapper ion-icon{
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    width: 50px;
    border-radius: 5px;
    background-color: #180f34;
    color: #eee;
}
.langWrapper button{
    background-color: transparent;
}
/* TEXTAREA */
.langArea {
    margin: 0 auto;
    border: 1px solid #eee;
    width: 90%;
}

ion-searchbar{
    padding: 0;
    margin: 0;
}
/* ======== RESPONSIVE ========= */
@media only screen and (min-width: 600px) and (min-height: 550px) {
    /* #banner > img{
        height: 20%;
    } */

    #contentWrapper{
        padding: 0px 90px;
    }

    #ifooter{
        height: 65px;
    }

    ion-content, #icontent{
        height: calc(100% - 65px);   
        top: 0;
        background-color: #eee;
    }

    .wrapperButton{
        width: 10%;
    }

    .drop-area > .dletter{

        font-size: 22px;
    }
}


