/* ======== BODY CONTENT ========= */

/* ion-content, #icontent{
    overflow: hidden;
} */

#contentBody{
    height: calc(100% - 65px);
    /* overflow: hidden; */
}

#contentWrapper{
    /* height: calc(100vh); */
    padding: 5px 8px;
    background-color: #fff;
}

/* ======== HEADER ========= */
.iTitle{
    text-align: center;
    font-family: "Arial","Papyrus","Lucida Handwriting","Brush Script MT" ;
    font-size: 17px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 7px;
    text-decoration: none;
    letter-spacing: 0.4px;
}
.headerWrapper{
    border-bottom: 1px solid #eee ;
    opacity: 1;
    display: block;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 3px;
}

/* ======== FOOTER TABS ========= */
#ifooter{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 47px;
    z-index: 0;
}

ion-tabs ion-tab-bar{
    border: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px; 
    background-color: #180f34;
}

ion-tabs ion-icon {
    font-size: 1.6rem;
}

ion-tabs ion-tab-button{
    background-color: #180f34;
}

ion-tabs .tab-selected{
    color: rgb(240, 245, 215);
    background-color: #211545;
}
/* ======== SINGLE MAIN ========= */
.searchWrapper{
    /* background-color: #fbfbfb; */
    /* background-color: green; */
    padding: 5px 15px;
    width: 100%;
    display: flex;
}

.searchBar{
    margin-left: 3px;
    width: 100%;
    border: 0;
    position: relative;
}
input:focus{
    outline: none;
}
.searchInput{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 20px;
    padding-right: 50px;
    padding-left: 20px;
}
.searchBar > ion-icon{
    position: absolute;
    display: block;
    top: 5px;
    right: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: rgb(129, 127, 127);
}

.tab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: calc(100vh * 0.78) ;
    /* min-height: 100vh ; */
    background-color: #fbfbfb;
    overflow: hidden;
}
.main-footer{
    width: 100%;
    display: flex;
    max-height: 70px;
    min-height: 70px;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(9, 3, 31);
}
.wrapperButton{
    width: 20%;
}
.wrapperButton > .stringButton{
    display: block;
    margin: 0 auto;
    height: 70px;
    width: 70px;
    text-align: center;
    background-color: rgb(35, 136, 194);
    font-size: 50px;
    color: white;
    border: 5px solid rgb(10, 39, 94); 
    border-radius: 50%;   
}
.wrapperButton > .stringButton:hover{
    background-color: rgb(7, 76, 116);
}
#iIcon{
    padding-top: 5px;
}


.tab-container > .dletter {
    background-color: #B9D980;
    color: #000;
    margin: 3px;
    width: 120px;
    height: 55px;
    padding: 15px 0;
    text-align: center;
    font-weight: 600px;
    font-size: 35px;
    cursor: pointer;
    border: 1px solid #eee;
    background-image: linear-gradient(-180deg, rgb(224, 222, 247) 1%, #ffffff 100%);
    box-shadow: 0 0px 0px 0 #fafafa, 
                0 -1px 2px #3d3d3d inset, 
                0 1px 1px #948eca inset, 
                0 1px 1px 0 #b2b3d4 inset;
    /* border: 1px solid #3d3d3d,  */
;
}
.tab-container > .dletter:hover {
    border: 1px solid rgb(10, 5, 85);
}
#dropBox{
    display: flex;
    width: 100%;
    height: 70px;
}
#dropBox .dletter{
    width: fit-content;
    color: white;
    margin: 7px 1px;
    padding: 15px 6px;
    font-size: 18px;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 3px;
    border: 1px solid rgb(9, 3, 31);
    background-image: linear-gradient(-180deg, rgb(14, 1, 58) 1%, #120744 100%);
    box-shadow: 0 0px 0px 0 #fafafa, 
                0 -1px 2px #2721e0 inset, 
                0 1px 1px #4330f0 inset, 
                0 1px 1px 0 #b2b3d4 inset;
    
}
#dropBox .dletter:hover{
    border: 1px solid rgb(24, 119, 209);   
}
.dropArea{
    width: 100%;
    border: 5px dashed rgb(23, 90, 129);
    height: 70px;
}
/* ======== SEARCH */
.searchedWord{
    width: 100%;
    color: rgb(10, 39, 94);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
}
.searchedWord > .repeatButton{
    margin: 0 20px;
    height: 30px;
    width: 40px;
    text-align: center;
    border: 1px solid rgb(10, 39, 94); 
    background-color: rgb(7, 76, 116);
    color: #fff;
}
.searchedWord > .repeatButton:hover{
    background-color: rgb(95, 162, 201);
    color: rgb(10, 39, 94);

}
/* ====Save BUTTON==== */
.saveButton{
    position: fixed;
    left: 20px;
    bottom: 80px;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(10, 39, 94);
    color: rgb(173, 248, 164);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    transition: .4s;
    font-size: 17px;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(5, 78, 29, 0.7);
    -moz-box-shadow: 0px 0px 20px 0px rgba(5, 78, 29, 0.7);
    box-shadow: 0px 0px 20px 0px rgba(5, 78, 29, 0.7);
}


.saveButton:hover{
    background: #87befd;
     box-shadow: 0px 0px 0px 5px #668ad8;
     color: rgb(10, 39, 94);
}
/* ====Clear BUTTON==== */
.clearBtn a {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 45px;
    bottom: 80px;
    margin-top: -25px;
    margin-right: -25px;
    background-color: #ffffff;
    border-radius: 50px;
    opacity: 1;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(247, 149, 29, 0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(247, 149, 29, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(247, 149, 29, 0.5);
  }
.clearBtn a > span {
    background-color: #f5a700;
    display: block;
    height: 6px;
    border-radius: 6px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 7px;
    width: 39px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
}
.clearBtn a > span span {
    display: block;
    background-color: #ed7f00;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: absolute;
    left: 0;
    top: 0;
}
.clearBtn a > span.left {
    transform: rotate(45deg);
    transform-origin: center;
}
.clearBtn a > span.left .circle-left {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 0;
}
.clearBtn a > span.left .circle-right {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 33px;
}
.clearBtn a > span.right {
    transform: rotate(-45deg);
    transform-origin: center;
}
.clearBtn a > span.right .circle-left {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 0;
}
.clearBtn a > span.right .circle-right {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 33px;
}
.clearBtn a:hover > span {
    background-color: #2faee0;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
  .clearBtn a:hover > span span {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-color: #008ac9;
}
.clearBtn a:hover > span.left .circle-left {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 33px;
}
.clearBtn a:hover > span.left .circle-right {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 0;
}
.clearBtn a:hover > span.right .circle-left {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 33px;
}
.clearBtn a:hover > span.right .circle-right {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-left: 0;
}

/* ======== TAB 1: GRID  ========= */
/* .tab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.tab-container > .dletter {
    background-color: #B9D980;
    margin: 5px;
    width: 120px;
    height: 55px;
    padding: 15px 0;
    text-align: center;
    font-weight: 600px;
    font-size: 35px;

    cursor: pointer;
    border: 1px solid #eee;
    background-image: linear-gradient(-180deg, rgb(224, 222, 247) 1%, #ffffff 100%);
    box-shadow: 0 0px 0px 0 #fafafa, 
                0 -1px 2px #9493b3 inset, 
                0 1px 1px #948eca inset, 
                0 1px 1px 0 #b2b3d4 inset;
} */

/* ======== TAB 2: WORDS ========= */
/* .searchWrapper{
    background-color: #fbfbfb;
    padding: 5px 15px;
}

.tab-container > .dword{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 170px;
    height: 100px;
    padding-top: 10px;
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid #fefefe;
    box-shadow: 0 0 3px;
}

.dword > img{
    height: 80px;
    cursor: pointer;
}

.dword > span{
    margin-top: 35px;
    margin-bottom: 25px;
    width: 90px;
    cursor: pointer;
    font-family: arial;
    font-weight: 550;
    font-size: 12px;
    text-align: center;
}
#empty{
    visibility: hidden;
} */

/* ======== TRANSLATE ========= */
/* LANG */
.langWrapper, .iconLang{
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 20px;
    color: #180f34;
    justify-content: center;
    padding: 10px;
}
.langWrapper ion-icon{
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    width: 50px;
    border-radius: 5px;
    background-color: #180f34;
    color: #eee;
}
.langWrapper button{
    background-color: transparent;
}
/* TEXTAREA */
.langArea {
    margin: 0 auto;
    border: 1px solid #eee;
    width: 90%;
}

ion-searchbar{
    padding: 0;
    margin: 0;
}
/* ======== RESPONSIVE ========= */
@media only screen and (min-width: 600px) and (min-height: 550px) {
    /* #banner > img{
        height: 20%;
    } */

    #contentWrapper{
        padding: 0px 90px;
    }

    #ifooter{
        height: 65px;
    }

    .wrapperButton{
        width: 10%;
    }

    #dropBox > .dletter{
        font-size: 22px;
    }
}


